@model IEnumerable<BookManager.Models.Book>

@{
    ViewBag.Title = "ListBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListBook</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Description
        </th>
        <th>
            Image
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Author
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <img src="@item.Images" width="50" height="50" />
            </td>
            <td>
                @item.Prices
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
            <td>
                <a href="@Url.Action("Buy","Book", new {id = item.ID})"class="btn btn-primary"> Buy</a>
            </td>
        </tr>
        }

    </table>
